/* Landing Page */
#landing {
  background: linear-gradient(rgba(81, 135, 27, .2), rgba(112, 190, 33, .2)), url("../images/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  border-bottom: 1px solid black;
}

/* Main Content */
.main {
  margin: 6em 3em;
  font: 20px 'Hepta Slab', serif;
}

.hike {
  margin: 4em auto;
  max-width: 1500px;
}

.hike h1 {
  font-family: 'Hepta Slab', serif;
  font-size: 38px;
}

.hikeRight {
  text-align: right;
}

.tree {
  text-align: center;
}

.gallery {
  text-align: center;
  height: 550px;
  margin-top: 3em;
}

.arrow {
  float: left;
  width: 33.33%;
  padding: 5px;

}

.picture {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.arrow img {
  height: 64px;
  width: 64px;
  cursor: pointer;
  margin: 9em 3em;
}

.picture img {
  border-radius: 15px;
  border: 1px solid black;
  max-width: 450px;
  max-height: 450px;
}

.picture img:hover {
  opacity: 0.7;
  cursor: zoom-in;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #222;
  color: #ccc;
  text-align: center;
}

.footer-copyright {
  color: #fff;
  padding: 40px 0;
}

/* Mobile */
@media (max-width: 576px) {
  .modal-content {
    width: 100%;
  }

  .hike {
    text-align: center;
    max-width: 100%;
  }

  .arrow{
    height: 32px;
    width: 32px;
  }

  .pictures img {
    height: 568px;
    width: 426px;
  }
}