/* Landing Page */
#landing {
  background: linear-gradient(rgba(81, 135, 27, .2), rgba(112, 190, 33, .2)), url("../images/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  border-bottom: 1px solid black;
}

/* Main Content */
.main {
  margin: 6em 2em;
  font: 20px 'Hepta Slab', serif;
}

.hike {
  margin: 4em auto;
  max-width: 1500px;
}

.hike h1 {
  font-family: 'Hepta Slab', serif;
  font-size: 38px;
}

.hikeRight {
  text-align: right;
}

.tree {
  text-align: center;
}

/* Image Gallery and Arrows*/
.gallery {
  text-align: center;
  height: 550px;
  margin-top: 3em;
}

.arrow {
  display: block;
  float: left;
  width: 30%;
  padding: 5px;
}

.mobileArrow {
  display: none;
}

.picture {
  float: left;
  width: 40%;
  padding: 5px;
}

.arrow img {
  height: 64px;
  width: 64px;
  cursor: pointer;
  margin: 9em 3em;
}

.picture img {
  border-radius: 15px;
  border: 1px solid black;
  max-width: 450px;
  max-height: 450px;
}

.picture img:hover {
  opacity: 0.7;
  cursor: zoom-in;
}

/* Modal Content */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 3em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  border: 1px solid #888;
  width: 100%;
  max-width: 700px;
  max-height: 757px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #222;
  color: #ccc;
  text-align: center;
}

.footer-copyright {
  color: #fff;
  padding: 40px 0;
}

/* Mobile / Smaller Screens */
@media (max-width: 768px) {
  .modal-content {
    width: 100%;
  }

  #landing {
    height: 200px;
  }

  body {
    max-width: 100%;
  }
  .main {
    margin: 0 auto;
    padding: 0 5%;
    text-align: center;
  }

  .main p {
    font-size: 14px;
    font-family: Verdana, Sans-Serif;
    line-height: 1.5;
  }

  .hike {
    text-align: center;
  }

  .hikeRight {
    text-align: center;
  }

  .arrow {
    display: none;
  }

  .mobileArrow {
    display: block;
    float: left;
    width: 50%;
  }

  .mobileArrow img {
    display: block;
    margin: auto;
    height: 64px;
    width: 64px;
  }

  .picture {
    width: 100%;
    padding-top: 1em;
  }

  .picture img {
    max-width: 100%;
  }

  .gallery {
    height: 500px;
  }

  .footer p {
    margin: 0 1em;
  }
}
